#{extends 'main.html' /} 
#{set title:'Home' /}
<center> <h1 class="cor">Fotos dos cortes diponiveis</h1> </center>
<br/>
<br/>

<h2 class="cor">Degradê</h2> 
<img class="img" src="/public/images/Degrade.jpg" alt=""> 
<br/>

<h2 class="cor">Social</h2> 
<img class="img" src="/public/images/CorteSocial.jpeg" alt=""> <br/>

<h2 class="cor">Low Fade</h2> 
<img class="img" src="/public/images/LowFede.jpg" alt=""> <br/>

<h2 class="cor">Mid Fade</h2> 
<img class="img" src="/public/images/MidFade.jpg" alt=""> <br/>

<h2 class="cor">Classic Fade</h2> 
<img class="img" src="/public/images/ClasicFede.jpg" alt=""> <br/>

<h2 class="cor">Scissor Fade</h2> 
<img class="img" src="/public/images/Scissor Fade..webp" alt=""> <br/>

<h2 class="cor">Taper Fade</h2> 
<img class="img" src="/public/images/TaperFede.jpg" alt=""><br/>

<h2 class="cor">Corte do Jaca</h2> 
<img class="img" src="/public/images/CorteDoJaca.jpg" alt=""><br/>

<h2 class="cor">Corte Americao</h2> 
<img class="img" src="/public/images/CorteAmericano2.jpeg" alt=""><br/>

<h2 class="cor">Moicano</h2> 
<img class="img" src="/public/images/moicano.jpg" alt=""><br/>
