#{extends 'main.html' /}

#{if barber}
	#{set title:'Edição de Barbeiro' /}
#{/if}
#{else}
	#{set title:'Cadastro de Barbeiro' /}
	
#{/else}


<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Barbershop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="@{Barbeiros.list}">Barbeiros</a>
        </li>
        <li class="nav-item">
			<a class="nav-link" href="@{Barbeiros.form}">Cadastrar Barbeiro</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="@{Barbeiros.agenda(session['barbeiroId'])}">Agenda de cortes</a>
		</li>
      </ul>
    </div>
  </div>
</nav>

<br/>
<br/>
<br/>

<form action="@{Barbeiros.add}" method="POST"  >

<center><h1 class="cor">#{get 'title' /}</h1></center> 

	<input type="hidden" name="barber.id" value="${barber?.id}" />
	
	<div class="mb-3">
		<label class="cor">Nome:</label>
		<input class="form-control" type="text" name="barber.nome" value="${flash['barber.nome']}" />
		<span class="text-danger">#{error 'barber.nome' /}</span>
	</div>
	
	<div class="mb-3">
		<label class="cor">Cpf:</label>
		<input class="form-control" type="text" name="barber.cpf" value="${flash['barber.cpf']}"/>
		<span class="text-danger">#{error 'barber.cpf' /}</span>
	</div>
	
	<div class="mb-3">
		<label class="cor">Email:</label>
		<input class="form-control" type="email" name="barber.email" value="${flash['barber.email']}"/>
		<span class="text-danger">#{error 'barber.email' /}</span>
	</div>
	
	<div class="mb-3">
		<label class="cor">Telefone:</label>
		<input class="form-control" type="text" name="barber.telefone" value="${flash['barber.telefone']}" />
	</div>
	
	<div class="mb-3">
		<label class="cor">Senha:</label>
		<input class="form-control" type="password" name="barber.password" value="${flash['barber.password']}" />
		<span class="text-danger">#{error 'barber.password' /}</span>
	</div>
	<input type="hidden" name="barber.perfil" value="barbeiro">
	#{if barber}
		<input class="btn btn-primary" type="submit" value="Atualizar" />
	#{/if}
	#{else}
		<input class="btn btn-primary" type="submit" value="Cadastrar" />
	#{/else}
</form>