#{extends 'main.html' /}
#{set title:'Listagem de barbeiro' /}

<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Barbershop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="@{Barbeiros.list}">Barbeiros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@{Barbeiros.form}">Cadastra barbeiro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br/>
<br/>

<h1 class="cor">#{get 'title' /}</h1>
<br/>
<div class="row">
	
	<div class="col-3"><a href="@{Barbeiros.form}" class="btn btn-primary">Cadastrar</a>
	</div>
	<div class="col-9">
	
		<nav class="navbar">
        	<div class="container-fluid">
    			<form "@{Barbeiros.list}" method="GET" class="d-flex" role="search">
      				<input class="form-control me-2" type="search" placeholder="Digite o nome ou email" aria-label="Search" name="termo" value="${termo}">
      				<button class="btn btn-secondary" type="submit">Pesquisar</button>
    			</form>
  			</div>
		</nav>
	
	</div>

</div>

<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>cpf</th>
      <th>Email</th>
      <th>telefone</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
  	#{list items:barbers, as:'b'}
	    <tr>
	      <th>${b.id}</th>
	      <td>${b.nome}</td>
	      <td>${b.cpf}</td>
	      <td>${b.email}</td>
	      <td>${b.telefone}</td>
	      <td>
	      
	      	<a href="@{Barbeiros.edit(b.id)}">Editar</a>
	      	<a href="@{Barbeiros.del(b.id)}">Remover</a>
	      	
	      </td>
	    </tr>
	#{/list}
  </tbody>
</table>

