#{extends 'main.html' /} #{if user} #{set title:'Edição de usuario' /}
#{/if} #{else} #{set title:'Cadastro de usuario' /} #{/else}
<nav
	class="navbar navbar-expand-lg bg-body-tertiary mt-3 ">
	<div class="container-fluid">
		<a class="navbar-brand" href="@{application.index}">Inicio</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			
				<li class="nav-item"><a class="nav-link" href="@{logins.login}">login</a>
				</li>
				

				<li class="nav-item">
					<a class="nav-link" href="@{Users.form}">Fazer Cadastro</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="@{Cortes.corte}">Voltar</a>
				</li>
				
			</ul>
		</div>
	</div>
	<div class="log">
			#{if session['usuarioLogado']}
		    	
		    	<br>
		    		<span class="mt-3 bg-success-subtle border border-info-subtle rounded-pill p-3 ">
		    		${session['usuarioLogado']}
		    		<a href="@{Logins.logout}" class="ms-2 btn btn-outline-success rounded-pill">Logout</a>
		    		</span>
		    		
		    	
		    	
		  	#{/if}
		  	</div>
</nav>
<br />
<form action="@{Users.add}" method="POST">

	<center> <h1 class="cor">Fazer Cadastro</h1> </center>

	<input type="hidden" name="user.id" value="${flash['user.id']}" />

	<div class="mb-3">
		<label class="cor">Nome:</label> <input class="form-control"
			type="text" name="user.name" value="${flash['user.name']}" /> <span
			class="text-danger">#{error 'user.name' /}</span>
	</div>

	<div class="mb-3">
			<label class="cor">Email:</label> <input class="form-control"
			type="email" name="user.email" value="${flash['user.email']}" /> <span
			class="text-danger">#{error 'user.email' /}</span>
	</div>
	
	<div class="mb-3">
		<label class="cor">Senha:</label>
		 <input class="form-control" type="password" name="user.password" value="${flash['user.password']}" /> 
			<span class="text-danger">#{error 'user.password' /}</span>
	</div>

	<label class="cor">Escolha seu barbeiro:</label> 
	
	<select class="form-select mb-3" aria-label="Default select example" 
		name="user.barbeiro.id"> 
		#{list items: barbeiros, as:'b'}
		<option value="${b.id}">${b.nome}</option> 
		#{/list}
	</select> 
	
	#{if user} 
		<input class="btn btn-primary" type="submit"
		value="Atualizar" /> 
	#{/if} #{else} <input class="btn btn-primary"
		type="submit" value="Cadastrar" /> 
	#{/else}
</form>