#{extends 'main.html' /}
#{set title:'Listagem de Usuario' /}



<center> <h1 class="cor">Lista de Clientes</h1> </center>
<br/>
<div class="row" >
	
	<div class="col-3"> <a href="@{Users.form}" class="btn btn-primary">Cadastrar</a>
	</div>
	<div class="col-9">
	
		<nav class="navbar">
        	<div class="container-fluid">
    			<form "@{Users.list}" method="GET" class="d-flex" role="search">
      				<input class="form-control me-2" type="search" placeholder="Digite o nome ou email" aria-label="Search" name="termo" value="${termo}">
      				<button class="btn btn-secondary" type="submit">Pesquisar</button>
    			</form>
  			</div>
		</nav>
	
	</div>

</div>
<br/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr id="ei">

    </tr>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$("form").submit(function(e) {
	 e.preventDefault();
	 $.ajax({
		 type: "GET", //INFORME O TIPO DA REQUISICAO
		 url: "@{Users.listAjax}", //INFORME A URL DE DESTINO
		 data: $(this).serialize(), //ENVIA DADOS DO FORMULARIO
		 success: function(data) {
			 $("tr").empty();
			 $.each(data, function(i, item) {
				 $("#ei").append("<td>" + item.name + " (" + item.email + ")" +
				 " | <a href=/clientes/form?id="+ item.id +">Editar</a>" +
				 " | <a href=/clientes/remover?id="+ item.id +">Remover</a></td>");
			 });
		 }
	 });
	});
});
</script>

