
#{extends 'main.html' /}
#{set title:'Listagem de Usuario' /}



<center> <h1 class="cor">Lista de Clientes</h1> </center>
<br/>
<div class="row" >
	
	<div class="col-3"> <a href="@{Users.form}" class="btn btn-primary">Cadastrar</a>
	</div>
	<div class="col-9">
	
		<nav class="navbar">
        	<div class="container-fluid">
    			<form "@{Users.list}" method="GET" class="d-flex" role="search">
      				<input class="form-control me-2" type="search" placeholder="Digite o nome ou email" aria-label="Search" name="termo" value="${termo}">
      				<button class="btn btn-secondary" type="submit">Pesquisar</button>
    			</form>
  			</div>
		</nav>
	
	</div>

</div>
<br/>

<table class="table table-striped">
  <thead class="bg-secondary-subtle">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  	#{list items:users, as:'u'}
	    <tr>
	      <th>${u.id}</th>
	      <td>${u.name}</td>
	      <td>${u.email}</td>
	      <td>
	      	<a href="@{Users.edit(u.id)}">Editar</a>
	      	<a href="@{Users.del(u.id)}">Remover</a>
	      </td>
	    </tr>
	#{/list}
  </tbody>
</table>

