#{extends 'main.html' /} 
#{set title:'Contato' /}
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3 ">
	<div class="container-fluid">
		<a class="navbar-brand" href="@{application.index}">Voltar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
<br/>
 <center> <h2 class="cor">Se você está interessado em ser um barbeiro no nosso site, 
 entre em contato com o seginte Email: MacinhoSensacao@gmail.com</h2>
 
 </center> 